<!DOCTYPE html>
<html lang="jp" data-nav-layout="horizontal" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buttons | 品保ポータルサイト</title>
    <meta name="Description" content="品保ポータルサイト">
    <meta name="Author" content="品保ポータルサイト">
    <meta name="keywords" content="品保ポータルサイト">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Css -->
    <link id="style" href="../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="../assets/css/styles.min.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="../assets/css/custom.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="../assets/css/icons.css" rel="stylesheet">

    <!-- Prism CSS -->
    <link rel="stylesheet" href="../assets/libs/prismjs/themes/prism-coy.min.css">

</head>

<body>

    <div class="page">

        <!--#include virtual="../include/header_component.html" -->

        <!--APP-CONTENT START-->
        <div class="main-content app-content">
            <div class="container-xl">
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Buttons</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Component</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Buttons</li>
                            </ol>
                        </nav>
                    </div>
                </div>


                <!--ROW-START-->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Default Buttons
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list">
                                    <button type="button" class="btn btn-primary btn-wave">Primary</button>
                                    <button type="button" class="btn btn-secondary btn-wave">Secondary</button>
                                    <button type="button" class="btn btn-success btn-wave">Success</button>
                                    <button type="button" class="btn btn-danger btn-wave">Danger</button>
                                    <button type="button" class="btn btn-warning btn-wave">Warning</button>
                                    <button type="button" class="btn btn-info btn-wave">Info</button>
                                    <button type="button" class="btn btn-light btn-wave">Light</button>
                                    <button type="button" class="btn btn-dark btn-wave text-white">Dark</button>
                                    <button type="button" class="btn btn-link btn-wave">Link</button>
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;button type="button" class="btn btn-primary btn-wave"&gt;Primary&lt;/button&gt;
    &lt;button type="button" class="btn btn-secondary btn-wave"&gt;Secondary&lt;/button&gt;
    &lt;button type="button" class="btn btn-success btn-wave"&gt;Success&lt;/button&gt;
    &lt;button type="button" class="btn btn-danger btn-wave"&gt;Danger&lt;/button&gt;
    &lt;button type="button" class="btn btn-warning btn-wave"&gt;Warning&lt;/button&gt;
    &lt;button type="button" class="btn btn-info btn-wave"&gt;Info&lt;/button&gt;
    &lt;button type="button" class="btn btn-light btn-wave"&gt;Light&lt;/button&gt;
    &lt;button type="button" class="btn btn-dark btn-wave text-white"&gt;Dark&lt;/button&gt;
    &lt;button type="button" class="btn btn-link btn-wave"&gt;Link&lt;/button&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Light Buttons
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list">
                                    <button type="button" class="btn btn-primary-light btn-wave">Primary</button>
                                    <button type="button" class="btn btn-secondary-light btn-wave">Secondary</button>
                                    <button type="button" class="btn btn-success-light btn-wave">Success</button>
                                    <button type="button" class="btn btn-danger-light btn-wave">Danger</button>
                                    <button type="button" class="btn btn-warning-light btn-wave">Warning</button>
                                    <button type="button" class="btn btn-info-light btn-wave">Info</button>
                                    <button type="button" class="btn btn-purple-light btn-wave">purple</button>
                                    <button type="button" class="btn btn-teal-light btn-wave">teal</button>
                                    <button type="button" class="btn btn-orange-light btn-wave">orange</button>
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;button type="button" class="btn btn-primary-light btn-wave"&gt;Primary&lt;/button&gt;
    &lt;button type="button" class="btn btn-secondary-light btn-wave"&gt;Secondary&lt;/button&gt;
    &lt;button type="button" class="btn btn-success-light btn-wave"&gt;Success&lt;/button&gt;
    &lt;button type="button" class="btn btn-danger-light btn-wave"&gt;Danger&lt;/button&gt;
    &lt;button type="button" class="btn btn-warning-light btn-wave"&gt;Warning&lt;/button&gt;
    &lt;button type="button" class="btn btn-info-light btn-wave"&gt;Info&lt;/button&gt;
    &lt;button type="button" class="btn btn-purple-light btn-wave"&gt;purple&lt;/button&gt;
    &lt;button type="button" class="btn btn-teal-light btn-wave"&gt;teal&lt;/button&gt;
    &lt;button type="button" class="btn btn-orange-light btn-wave"&gt;orange&lt;/button&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Outline Buttons
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list">
                                    <button type="button" class="btn btn-outline-primary btn-wave">Primary</button>
                                    <button type="button" class="btn btn-outline-secondary btn-wave">Secondary</button>
                                    <button type="button" class="btn btn-outline-success btn-wave">Success</button>
                                    <button type="button" class="btn btn-outline-danger btn-wave">Danger</button>
                                    <button type="button" class="btn btn-outline-warning btn-wave">Warning</button>
                                    <button type="button" class="btn btn-outline-info btn-wave">Info</button>
                                    <button type="button" class="btn btn-outline-light btn-wave">Light</button>
                                    <button type="button" class="btn btn-outline-dark btn-wave">Dark</button>
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;button type="button" class="btn btn-outline-primary btn-wave"&gt;Primary&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-secondary btn-wave"&gt;Secondary&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-success btn-wave"&gt;Success&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-danger btn-wave"&gt;Danger&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-warning btn-wave"&gt;Warning&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-info btn-wave"&gt;Info&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-light btn-wave"&gt;Light&lt;/button&gt;
    &lt;button type="button" class="btn btn-outline-dark btn-wave"&gt;Dark&lt;/button&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>




                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Button tags
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list">
                                    <a class="btn btn-primary btn-wave" href="#" role="button">Link</a>
                                    <button class="btn btn-secondary btn-wave" type="submit">Button</button>
                                    <input class="btn btn-info" type="button" value="Input">
                                    <input class="btn btn-warning" type="submit" value="Submit">
                                    <input class="btn btn-success" type="reset" value="Reset">
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;a class="btn btn-primary btn-wave" href="#" role="button"&gt;Link&lt;/a&gt;
    &lt;button class="btn btn-secondary btn-wave" type="submit"&gt;Button&lt;/button&gt;
    &lt;input class="btn btn-info" type="button" value="Input"&gt;
    &lt;input class="btn btn-warning" type="submit" value="Submit"&gt;
    &lt;input class="btn btn-success" type="reset" value="Reset"&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Loading Buttons
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list d-md-flex flex-wrap">
                                    <button class="btn btn-primary btn-loader">
                                        <span class="me-2">Loading</span>
                                        <span class="loading"><i class="ri-loader-2-fill fs-16"></i></span>
                                    </button>
                                    <button class="btn btn-outline-secondary btn-loader">
                                        <span class="me-2">Loading</span>
                                        <span class="loading"><i class="ri-loader-2-fill fs-16"></i></span>
                                    </button>
                                    <button class="btn btn-info-transparent btn-loader">
                                        <span class="me-2">Loading</span>
                                        <span class="loading"><i class="ri-loader-4-line fs-16"></i></span>
                                    </button>
                                    <button class="btn btn-warning-transparent btn-loader">
                                        <span class="me-2">Loading</span>
                                        <span class="loading"><i class="ri-loader-5-line fs-16"></i></span>
                                    </button>
                                    <button class="btn btn-success btn-loader disabled">
                                        <span class="me-2">Disabled</span>
                                        <span class="loading"><i class="ri-refresh-line fs-16"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list d-md-flex flex-wrap"&gt;
    &lt;button class="btn btn-primary btn-loader"&gt;
        &lt;span class="me-2"&gt;Loading&lt;/span&gt;
        &lt;span class="loading"&gt;&lt;i class="ri-loader-2-fill fs-16"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class="btn btn-outline-secondary btn-loader"&gt;
        &lt;span class="me-2"&gt;Loading&lt;/span&gt;
        &lt;span class="loading"&gt;&lt;i class="ri-loader-2-fill fs-16"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class="btn btn-info-transparent btn-loader"&gt;
        &lt;span class="me-2"&gt;Loading&lt;/span&gt;
        &lt;span class="loading"&gt;&lt;i class="ri-loader-4-line fs-16"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class="btn btn-warning-transparent btn-loader"&gt;
        &lt;span class="me-2"&gt;Loading&lt;/span&gt;
        &lt;span class="loading"&gt;&lt;i class="ri-loader-5-line fs-16"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class="btn btn-success btn-loader disabled"&gt;
        &lt;span class="me-2"&gt;Disabled&lt;/span&gt;
        &lt;span class="loading"&gt;&lt;i class="ri-refresh-line fs-16"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-header justify-content-between">
                                        <div class="card-title">
                                            Sizes
                                        </div>
                                        <div class="prism-toggle">
                                            <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="btn-list">
                                            <button type="button" class="btn btn-primary btn-sm btn-wave">Small
                                                button</button>
                                            <button type="button" class="btn btn-secondary btn-wave">Default
                                                button</button>
                                            <button type="button" class="btn btn-success btn-lg btn-wave">Large
                                                button</button>
                                        </div>
                                    </div>
                                    <div class="card-footer d-none border-top-0">
                                        <!-- Prism Code -->
                                        <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;button type="button" class="btn btn-primary btn-sm btn-wave"&gt;Small
        button&lt;/button&gt;
    &lt;button type="button" class="btn btn-secondary btn-wave"&gt;Default
        button&lt;/button&gt;
    &lt;button type="button" class="btn btn-success btn-lg btn-wave"&gt;Large
        button&lt;/button&gt;
&lt;/div&gt;</code></pre>
                                        <!-- Prism Code -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-header justify-content-between">
                                        <div class="card-title">
                                            Button Widths
                                        </div>
                                        <div class="prism-toggle">
                                            <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="btn-list">
                                            <button type="button" class="btn btn-primary btn-w-xs btn-wave">XS</button>
                                            <button type="button" class="btn btn-secondary btn-w-sm btn-wave">SM</button>
                                            <button type="button" class="btn btn-warning btn-w-md btn-wave">MD</button>
                                            <button type="button" class="btn btn-info btn-w-lg btn-wave">LG</button>
                                        </div>
                                    </div>
                                    <div class="card-footer d-none border-top-0">
                                        <!-- Prism Code -->
                                        <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;button type="button" class="btn btn-primary btn-w-xs btn-wave"&gt;XS&lt;/button&gt;
    &lt;button type="button" class="btn btn-secondary btn-w-sm btn-wave"&gt;SM&lt;/button&gt;
    &lt;button type="button" class="btn btn-warning btn-w-md btn-wave"&gt;MD&lt;/button&gt;
    &lt;button type="button" class="btn btn-info btn-w-lg btn-wave"&gt;LG&lt;/button&gt;
&lt;/div&gt;</code></pre>
                                        <!-- Prism Code -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Block buttons
                                </div>
                                <div class="prism-toggle">
                                    <button class="btn btn-sm btn-primary-light">Show Code<i class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="btn-list">
                                    <div class="d-grid gap-2 mb-4">
                                        <button class="btn btn-primary btn-wave" type="button">Button</button>
                                        <button class="btn btn-secondary btn-wave" type="button">Button</button>
                                    </div>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-info btn-wave" type="button">Button</button>
                                        <button class="btn btn-success btn-wave" type="button">Button</button>
                                    </div>
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <button class="btn btn-danger btn-wave" type="button">Button</button>
                                        <button class="btn btn-warning btn-wave" type="button">Button</button>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-teal me-md-2 btn-wave" type="button">Button</button>
                                        <button class="btn btn-purple btn-wave" type="button">Button</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-none border-top-0">
                                <!-- Prism Code -->
                                <pre class="language-html"><code class="language-html">&lt;div class="btn-list"&gt;
    &lt;div class="d-grid gap-2 mb-4"&gt;
        &lt;button class="btn btn-primary btn-wave" type="button"&gt;Button&lt;/button&gt;
        &lt;button class="btn btn-secondary btn-wave" type="button"&gt;Button&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="d-grid gap-2 d-md-block"&gt;
        &lt;button class="btn btn-info btn-wave" type="button"&gt;Button&lt;/button&gt;
        &lt;button class="btn btn-success btn-wave" type="button"&gt;Button&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="d-grid gap-2 col-6 mx-auto"&gt;
        &lt;button class="btn btn-danger btn-wave" type="button"&gt;Button&lt;/button&gt;
        &lt;button class="btn btn-warning btn-wave" type="button"&gt;Button&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="d-grid gap-2 d-md-flex justify-content-md-end"&gt;
        &lt;button class="btn btn-teal me-md-2 btn-wave" type="button"&gt;Button&lt;/button&gt;
        &lt;button class="btn btn-purple btn-wave" type="button"&gt;Button&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                <!-- Prism Code -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--ROW-END-->

            </div>
        </div>
        <!--APP-CONTENT CLOSE-->

        <!--#include virtual="../include/footer.html" -->

    </div>

    <!-- Bootstrap JS -->
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Prism JS -->
    <script src="../assets/libs/prismjs/prism.js"></script>
    <script src="../assets/js/prism-custom.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/custom.js"></script>

</body>

</html>