<!DOCTYPE html>
<html lang="jp" data-nav-layout="horizontal" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Columns | 品保ポータルサイト</title>
    <meta name="Description" content="品保ポータルサイト">
    <meta name="Author" content="品保ポータルサイト">
	<meta name="keywords" content="品保ポータルサイト">
	
    <!-- Favicon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="../assets/js/main.js"></script>
    
    <!-- Bootstrap Css -->
    <link id="style" href="../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style Css -->
    <link href="../assets/css/styles.min.css" rel="stylesheet" >
	
	<!-- Custom Css -->
    <link href="../assets/css/custom.css" rel="stylesheet" > 
	
    <!-- Icons Css -->
    <link href="../assets/css/icons.css" rel="stylesheet" >

 

<!-- Prism CSS -->
<link rel="stylesheet" href="../assets/libs/prismjs/themes/prism-coy.min.css">

</head>

<body>

    <div class="page">

       <!--#include virtual="../include/header_component.html" -->

        <!--APP-CONTENT START-->
        <div class="main-content app-content">
            <div class="container-xl">
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <h1 class="page-title fw-semibold fs-18 mb-0">Columns</h1>
                        <div class="ms-md-1 ms-0">
                            <nav>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Component</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Columns</li>
                                </ol>
                            </nav>
                        </div>
                    </div>


                <!--ROW-START-->


                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                Vertical alignment
                                            </div>
                                        </div>
                                        <div class="card-body bd-example-row bd-example-row-flex-cols">
                                            <div class="container">
                                                <div class="row align-items-start mb-3">
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                </div>
                                                <div class="row align-items-center mb-3">
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                </div>
                                                <div class="row align-items-end mb-3">
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                    <div class="col">
                                                        One of three columns
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col align-self-start">
                                                        One of three columns
                                                    </div>
                                                    <div class="col align-self-center">
                                                        One of three columns
                                                    </div>
                                                    <div class="col align-self-end">
                                                        One of three columns
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                Horizontal alignment
                                            </div>
                                        </div>
                                        <div class="card-body bd-example-row">
                                            <div class="container">
                                                <div class="row justify-content-start mb-3">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mb-3">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end mb-3">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                </div>
                                                <div class="row justify-content-around mb-3">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4 mb-3">
                                                        One of two columns
                                                    </div>
                                                </div>
                                                <div class="row justify-content-between mb-3">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                </div>
                                                <div class="row justify-content-evenly">
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                    <div class="col-4">
                                                        One of two columns
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <h6 class="mb-3">Offsetting Columns</h6>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Offset classes
                                    </div>
                                </div>
                                <div class="card-body bd-example-row">
                                    <div class="container mb-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">.col-md-4</div>
                                            <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3
                                            </div>
                                            <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3
                                            </div>
                                        </div>
                                    </div>
                                    <p>In addition to column clearing at responsive breakpoints, you may need to
                                        reset
                                        offsets.</p>
                                    <div class="container">
                                        <div class="row mb-3">
                                            <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
                                            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                                                .col-sm-5
                                                .offset-sm-2 .col-md-6 .offset-md-0
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5
                                                .col-lg-6</div>
                                            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                                                .col-sm-6
                                                .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->



                <!--ROW-END-->

            </div>
        </div>
        <!--APP-CONTENT CLOSE-->

       <!--#include virtual="../include/footer.html" -->

    </div>

   <!-- Popper JS -->
    <script src="../assets/libs/@popperjs/core/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Defaultmenu JS -->
    <script src="../assets/js/defaultmenu.min.js"></script>

    <!-- Node Waves JS-->
    <script src="../assets/libs/node-waves/waves.min.js"></script>

    <!-- Sticky JS -->
    <script src="../assets/js/sticky.js"></script>

    <!-- Simplebar JS -->
    <script src="../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../assets/js/simplebar.js"></script>

    <!-- Color Picker JS -->
    <script src="../assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>


    
    <!-- Custom-Switcher JS -->
    <script src="../assets/js/custom-switcher.min.js"></script>

    <!-- Prism JS -->
    <script src="../assets/libs/prismjs/prism.js"></script>
    <script src="../assets/js/prism-custom.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/custom.js"></script>

</body>

</html>