<!DOCTYPE html>
<html lang="jp" data-nav-layout="horizontal" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Date & Time Pickers | 品保ポータルサイト</title>
    <meta name="Description" content="品保ポータルサイト">
    <meta name="Author" content="品保ポータルサイト">
	<meta name="keywords" content="品保ポータルサイト">
	
    <!-- Favicon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="../assets/js/main.js"></script>
    
    <!-- Bootstrap Css -->
    <link id="style" href="../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style Css -->
    <link href="../assets/css/styles.min.css" rel="stylesheet" >
	
	<!-- Custom Css -->
    <link href="../assets/css/custom.css" rel="stylesheet" > 
	
    <!-- Icons Css -->
    <link href="../assets/css/icons.css" rel="stylesheet" >

 
<!-- FlatPickr CSS -->
<link rel="stylesheet" href="../assets/libs/flatpickr/flatpickr.min.css">


</head>

<body>

    <div class="page">

       <!--#include virtual="../include/header_component.html" -->

        <!--APP-CONTENT START-->
        <div class="main-content app-content">
            <div class="container-xl">
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                        <h1 class="page-title fw-semibold fs-18 mb-0">Date & Time Pickers</h1>
                        <div class="ms-md-1 ms-0">
                            <nav>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Component</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Date & Time Pickers</li>
                                </ol>
                            </nav>
                        </div>
                    </div>


                <!--ROW-START-->

                <!-- Start:: row-1 -->
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Basic Date picker
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                        <input type="text" class="form-control" id="date" placeholder="Choose date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Date picker With Time
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                        <input type="text" class="form-control" id="datetime" placeholder="Choose date with time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					                   <div class="col-xl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Date range picker
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                        <input type="text" class="form-control" id="daterange" placeholder="Date range picker">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-3">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Basic Time picker
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                        <input type="text" class="form-control" id="timepikcr" placeholder="Choose time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-1 -->

                <!-- Start:: row-3 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Inline Calendar
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group overflow-auto">
                                    <input type="text" class="form-control" id="inlinecalendar" placeholder="Choose date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-3 -->



                <!--ROW-END-->

            </div>
        </div>
        <!--APP-CONTENT CLOSE-->

       <!--#include virtual="../include/footer.html" -->

    </div>

    <!-- Popper JS -->
    <script src="../assets/libs/@popperjs/core/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Defaultmenu JS -->
    <script src="../assets/js/defaultmenu.min.js"></script>

    <!-- Node Waves JS-->
    <script src="../assets/libs/node-waves/waves.min.js"></script>

    <!-- Sticky JS -->
    <script src="../assets/js/sticky.js"></script>

    <!-- Simplebar JS -->
    <script src="../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../assets/js/simplebar.js"></script>

    <!-- Color Picker JS -->
    <script src="../assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>


    
    <!-- Custom-Switcher JS -->
    <script src="../assets/js/custom-switcher.min.js"></script>

    <!-- Date & Time Picker JS -->
    <script src="../assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="../assets/js/date&time_pickers.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/custom.js"></script>

</body>

</html>